<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
</head>
<body>

<div id="app">
    名前:<input v-model="name">
    <button v-on:click="doAdd">モンスターを追加</button>
    <ul>
        <li v-for="(item,index) in list" v-bind:key="item.id">
            ID.{{item.id}} {{item.name}} HP.{{item.hp}}{{index}}<span v-if="item.hp>300">つよい!</span>

            <button v-on:click="doRemove(index)">削除</button>
        </li>
    </ul>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="main.js"></script>
</body>
</html>