<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
</head>
<body>

<div id="app">
    <div v-if="ok">v-if条件による描画</div>

    <div v-show="ok">v-show条件による描画</div>

    <div v-if="type==='A'">
        typeはA
    </div>
    <div v-else-if="type==='B'">
        typeはB
    </div>

    <div v-else>
        すべての条件を満たさなかった
    </div>


    <div v-if="loaded" key="content-visible">
        content
    </div>
    <div v-else key="content-loading">
        loading now
    </div>



</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="main.js"></script>
</body>
</html>